.section {
    padding: 100px 0;
    position: relative;
}

.title-heading {
    line-height: 26px;

    .heading {
        font-size: 45px;
        letter-spacing: 1px;
    }

    .para-desc {
        font-size: 18px;
    }
}

.section-title {
    position: relative;

    .title {
        letter-spacing: 0.5px;
        font-size: 30px;
    }

    h3.title {
        letter-spacing: 0.5px;
        font-size: 38px;
    }
}

.mt-100 {
    margin-top: 100px;
}

.shape {
    position: absolute;
    pointer-events: none;
    right: 0;
    bottom: -3px;
    left: 0;

    &>svg {
        transform: scale(2);
        width: 100%;
        height: auto;
        transform-origin: top center;
    }
}

@media (min-width: 768px) {
    .mt-100 {
        margin-top: 100px;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 60px 0;
    }

    .title-heading {
        .heading {
            font-size: 35px !important;
        }

        .para-desc {
            font-size: 18px;
        }
    }

    .section-title {
        .title {
            font-size: 20px !important;
        }

        h3.title {
            font-size: 24px !important;
        }
    }
}
