//
// home.scss
//
.logo-holder {
  position: relative;
}

.creators {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 0 8px;
  font-size: 8px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  white-space: nowrap;
  color: rgba(255, 255, 255, .8);
  background-color: #7e4197;
  border-radius: 0 0 5px 5px;
  transition: background-color .4s;

  img {
    margin-left: 6px;
  }

  &:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #3c4585;
  }
}

.th-btn {
  position: relative;

  span {
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 11px;
    letter-spacing: 1px;
    color: #161c2d;
  }
}

.th-header-link {
  color: #2f55d4;
  margin-left: 40px;
}

.th-text-small {
  font-size: 14px;
  opacity: .8;
}


.feature-list {
  li {
    display: flex;
    align-items: center;
    padding: 2px 0;
  }
}

.section-home {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 740px;
  max-height: 1200px;
  height: 70vh;

  .container {
    z-index: 3;
  }
}

.bg-pattern {
  background-image: url("/assets/images/bg.png");
  background-size: auto;
  background-position: center top;
  // background-repeat: repeat-x;
}

.bg-header {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/assets/images/header.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}

.bg-gradient {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 90%, #f8f9fc 100%);
}

.th-header-buttons {
  display: flex;
  flex-direction: column;

  .btn {
    white-space: nowrap;
  }

  .btn-success {
    margin-left: 0;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .container {
    .title-heading {
      text-align: center;

      h1 {
        font-size: 30px !important;
      }

      .para-desc {
        padding-right: 0 !important;
      }
    }
  }

  .th-header-link {
    display: block;
    margin: 0 auto !important;
    padding-top: 40px !important;
  }
}

@include media-breakpoint-up(sm) {
  .th-header-buttons {
    flex-direction: row;

    .btn-primary {
      width: 270px;
      padding: 14px 10px;
    }

    .btn-success {
      margin-left: 30px;
      margin-top: 0;
    }
  }
}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {
  .bg-header {
    display: block;
    right: -300px;
  }
}

@include media-breakpoint-up(xl) {
  .bg-header {
    display: block;
    right: 0;
  }
}

@include media-breakpoint-down(sm) {
  .bg-gradient {
    display: none;
  }

  .section-how-it-works {
    .img-fluid {
      display: none;
    }
  }
}

@include media-breakpoint-up(sm) {
  .section-how-it-works {
    .container {
      padding-top: 100px;
    }
  }
}
