//
// price.scss
//
.pricing-rates {
    border-radius: 6px;
    position: relative;
    height: 100%;
    z-index: 1;

    .title {
        color: $primary;
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 1px;
    }

    .badge {
        margin-right: auto;
        margin-left: auto;
        padding: 4px 6px;
        font-weight: 700;
        font-size: 12px;
    }

    .price {
        font-weight: 400;
    }

    .feature {
        .feature-list {
            margin: auto auto 10px;
            font-size: 18px;
        }
    }

    &.business-rate {
        transition: all 0.3s ease-in-out;
    }

    &.starter-plan {
        transform: scale(1.05);
        z-index: 2;
        border-color: $primary;
    }

    &.best-plan {
        transition: all 0.5s ease;

        .lable {
            width: 200px;
            position: absolute;
            top: 15px;
            right: -65px;
            transform: rotate(45deg);
            z-index: 1;

            h6 {
                font-size: 12px;
            }
        }
    }
}
